body {
    display: flex;
    align-items: center; 
    margin-left: auto;
    margin-right: auto;
}

h1 {
    text-align: center
}

img {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    border-radius: 50%;
}

#container {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
}

input {
    max-width: 100px;
}

td {
    /* margin-left: 10px;
    margin-right: 100px; */
    /* background: red; */
    padding: 10px;
    border: 2px solid black ;
    border-radius: 5%;
    background: white;
}


table {
    border: 2px solid black ;
    border-radius: 3%;
    background: lightgray;
    margin-left: auto;
    margin-right: auto;
}

button {
 margin-bottom: 10px;
}

#Usuń  {
    background: #F14908;
    border-radius: 10%;
}

#Usuń:hover {
    background: #F57a4c
}